// Specific CSS for your home-page
.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card-trip > img {
  height: 20em;
  width: 50%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.title {
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  width: auto;
}
.title h2 {
  font-size: 2em;
  font-weight: bold;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-product {
  // overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;;
  text-align: left;
  margin: auto;
  margin-bottom: 1em;
  width: 60%;
}
.card-product .sticky {
  position: sticky;
  top: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 1em 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  width: 100%;
}
.card-product-question {
  width: 75%;
  margin-left: 0.5em;
}

.card-product .card-product-infos {
  padding: 1.5em;
}
.card-product-full {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5em;
}
.switch-field {
  height: 100%;
  // overflow: hidden;
  float: right;
  width: 7em;
  border: 1px;
  padding: .2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0.5em;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  // overflow: hidden;
  display: inline-block;
}
.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  display: inline-block;
}
.switch-field label:hover {
  cursor: pointer;
}
.switch-field input:checked + label.yes {
  background-color: #a5dc86;
  box-shadow: none;
}
.switch-field input:checked + label.no {
  background-color: #d99182;
  box-shadow: none;
}
.switch-field label:first-of-type {
border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.live-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1em;
}
.live-result h3 {
  font-size: 1.5em;
  padding: 0;
}


// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops

.card-trip {
  width: auto;
}

@media (max-width: 1180px) {
  .card-trip > img {
    height: 15em;
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 880px) {
  .card-trip > img {
    height: 10em;
    width: 50%;
    object-fit: cover;
  }
  .switch-field {
    width: 100%;
  }
  .title h2 {
    font-size: 1.7em;
  }
  .live-result h3 {
    font-size: 1.15em;
  }
}
@media (max-width: 800px) {
  .live-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
  }
  .live-result h3 {
    font-size: 1.1em;
  }
}
@media (max-width: 650px) {
  .live-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
  }
  .title h2 {
    font-size: 1.25em;
  }
  .live-result h3 {
    font-size: 1em;
  }
}
@media (max-width: 580px) {
  .card-trip > img {
    height: 7.5em;
    width: 50%;
    object-fit: cover;
  }
  .card-product-full {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  .switch-field {
    justify-content: flex-start;
    padding: 0;
  }
  .title h2{
    font-size: 1em;
  }
}
@media (max-width: 450px) {
  .card-trip > img {
    height: 5em;
    width: 50%;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .live-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
#resbar {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  z-index: 2;
}
// .sticky + .content {
//   padding-top: 60px;
// }
