<div class="card-trip">
  <img src="https://i.imgur.com/JzXEDyR.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Intraoperative Adverse Event (iAE) Grade Calculator</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>

  <div class="card-product">
    <div class="card-product-infos">
      <h2>Patient</h2>
      <p>Was the iAE associated with death of the patient?:</p>
      <p>Was the iAE immediately life-threatening?:</p>
      <p>Were there significant consequences to the patient as a result of the iAE?: [TT]</p>
      <p>Was the incorrect site, side, or surgical approach used without consent?:</p>
    </div>
  </div>
  <div class="card-product">
    <div class="card-product-infos">
      <h2>Procedure</h2>
      <p>Were there any changes in the ideal intraoperative course related to iAE?: [TT]</p>
      <p>Was there an unanticipated conversion of approach or significant change to the operative steps of the originally planned procedure due to iAE?:</p>
      <p>Was planned procedure aborted or incomplete due to iAE?:</p>
      <p>Unplanned stoma as a result of iAE?:</p>
      <p>Unplanned tissue or organ removal as a result of iAE?:</p>
    </div>
  </div>
  <div class="card-product">
    <div class="card-product-infos">
      <h2>iAE Management</h2>
      <p>Was any surgical repair, medical treatment, or other intervention required?: [TT]</p>
      <p>Was there a change in post-operative care due to the iAE?:</p>
      <p>Did the iAE or its management necessitate intensive care admission?:</p>
      <p>Was the intraoperative injury missed, necessitating re-operation within 7 days of index procedure?:</p>
    </div>
  </div>
  <div class="card-product">
    <div class="card-product-infos">
      <h2>Bleeding Related</h2>
      <p>Was blood loss appreciably over normal range for procedure?: [TT]</p>
      <p>Were 2 or more units of blood products required to manage iAE?:</p>
    </div>
  </div>
</div>
