<div class="card-trip">
  <img src="https://i.imgur.com/JzXEDyR.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Intraoperative Adverse Event (iAE) Grade Calculator</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
