<div data-controller="live">
  <label>Yes <input type="radio" name="foo" value="Yes" data-action="live#toggle"></label>
  <label>No <input type="radio" name="foo" value="No" data-action="live#toggle"></label>
  <div data-target="live.detail" style="{display: none}">
    Anything
  </div>
</div>
